################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleM9/.vs/ConsoleM9/FileContentIndex/a2f20c08-934b-44f8-b4b5-e4576592d778.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/282eab91-f054-4f58-abad-f7c84c2488e0.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/3b2074b0-6d42-473d-9da9-0f4010e3c0ee.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/43d5f85e-8719-4bcb-ae56-9c1d1d9b48ec.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/84bad76e-cdd1-453e-a939-71516994cd62.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/dd1aa742-c98e-4884-8bed-1632f3e20b79.vsidx
/ConsoleM9/.vs/ConsoleM9/v17/.suo
/ConsoleM9/.vs/ConsoleM9/v17/DocumentLayout.backup.json
/ConsoleM9/.vs/ConsoleM9/v17/DocumentLayout.json
/ConsoleM9/.vs/ConsoleM9/v17/TestStore/0/000.testlog
/ConsoleM9/.vs/ConsoleM9/v17/TestStore/0/testlog.manifest
