################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleM9/.vs/ConsoleM9/FileContentIndex/a2f20c08-934b-44f8-b4b5-e4576592d778.vsidx
