################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleM9/.vs/ConsoleM9/FileContentIndex/a2f20c08-934b-44f8-b4b5-e4576592d778.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/1ca0cc1f-1743-4dca-bc75-3d30ceefcaef.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/4745a533-f429-4167-895f-27d0f0c4afaa.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/5db27095-8625-412f-9303-feab6a92eed0.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/724c48cf-0846-42a0-b77a-9e9be6107515.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/ac1574c9-6a92-40ef-9528-8eaa3b0fa169.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/34489f25-cc03-4488-9aaf-a764a864a579.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/60002f6b-c32c-40ef-8e49-dca0b0f02742.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/a3ab1dab-9208-40e0-8057-39c685a76165.vsidx
/ConsoleM9/.vs/ConsoleM9/FileContentIndex/b8302d80-c939-46af-bbfc-ac300f00a6d3.vsidx
